(
    selected_tab: Some("#E9E9E9"),
    command_fg: Sume("#E86335"),
    selection_bg: Some("#272727"),
    selection_fg: Some("#E9E9E9"),
    cmdbar_bg: Some("#272727"),
    cmdbar_extra_lines_bg: Some("#272727"),
	disabled_fg: Some("#B5B5B5"),
	diff_line_add: Some("#42CC60"),
	diff_line_delete: Some("#E94C66"),
	diff_file_added: Some("#42CC60"),
	diff_file_removed: Some("#E94C66"),
	diff_file_moved: Some("#80C9BC"),
	diff_file_modified: Some("#F17A4A"),
	commit_hash: Some("#DDDDDD"),
	commit_time: Some("#DDDDDD"),
	commit_author: Some("#DDDDDD"),
	danger_fg: Some("#EE738D"),
	push_gauge_bg: Some("#3C9BE1"),
	push_gauge_fg: Some("#141414"),
	tag_fg: Some("#BB6EF1"),
	branch_fg: Some("#5FB2F0"),
	line_break: "¶".to_string(),
	block_title_focused: Some("#272727"),
)
